### 1.변수 선언과 자료형

In [1]:
a = 3
b = 2

print(a+b)
print(a*b)
print(a/b) # 나누기
print(a**b) # 거듭
print(a%b) # 나머지 : 짝수 홀수 판단

5
6
1.5
9
1

In [2]:
a = 11.5
b = 'doo'
c = (3 < 2)
# 숫자, 문자, 참거짓 등 변수에 담을 수 있다.
# 다른 관점으로, 값을 가리킬 변수를 지정
print(a , b , c)

11.5 doo False

### 2. 문자열 다루기

In [3]:
# 문자열 다루기
first_name = 'doo hyun'
last_name = 'kim'

print(first_name + last_name)

doo hyunkim

In [4]:
a = '2' # 2는 숫자가 아닌 문자 취급
b = 'hello'
#문자와 문자 연산은 가능 but 형식이 다른 숫자 문자 간 연산은 불가능하다
print(a+b)

2hello

In [5]:
text = 'abcdefghijk'
result = len(text)
print(result)

11

In [6]:
#문자열 자르기
result = text[:]
result = text[3:]
result = text[1:6]
#파이선은 0부터 시작
print(result)

bcdef

In [7]:
myemail = 'abc@sparta.co'
result = myemail.split('@')[1].split('.')[0]

print(result)

sparta

In [8]:
#퀴드1
text = 'sparta'

result = text[0:3]
print(result)

#퀴즈2
phone = '02-123-1234'

result = phone.split('-')[0]
print(result)

spa
02

### 3. 리스트와 딕셔너리

In [9]:
# 리스트(순서 중요)와 딕셔너리(key : value): 값을 담는 방법
a_list = ['사과', '배', '감', 1, 2, 3, True, False, ['수박', '메론']]
print(a_list[8])

['수박', '메론']

In [10]:
a_list = [1,2,4,5,7,3]
a_list.append(99) # 추가하기

result = a_list[-1] # 자르기
result = len(a_list) # 길이
a_list.sort(reverse = True) # 정렬
result = (5 in a_list) # 리스트 안에 
print(result)

True

In [11]:
a_dict = {'name' : 'bob', 'age' : 27, 'friend' : ['영희', '철수']}

result = a_dict['name']
result = a_dict['friend'][0] # 
a_dict['height'] = 180 # 추가

result = ('height' in a_dict)
print(result)

True

In [12]:
# list와 dictionary 조합
people = [
    {'name' : 'bob', 'age' : 27},
    {'name' : 'john', 'age' : 30 }
]

print(people[1]['age'])

30

In [13]:
# 과제 smith의 science 점수
people = [
    {'name': 'bob', 'age': 20, 'score':{'math':90,'science':70}},
    {'name': 'carry', 'age': 38, 'score':{'math':40,'science':72}},
    {'name': 'smith', 'age': 28, 'score':{'math':80,'science':90}},
    {'name': 'john', 'age': 34, 'score':{'math':75,'science':100}}
]

print(people[2]['score']['science'])

90

### 4.if

In [14]:
money = 3600

if money > 3500 :
    print('택시를 타자!') #들여쓰기 중요
elif money > 1200 :
    print('버스를 타자!')
else :
    print('걸어가자')

택시를 타자!

### 5.반복문

In [15]:
# ex. 0~9까지 출력할 때
fruits = ['사과', '배', '감', '수박', '딸기']

for fruit in fruits :
    print(fruit)

사과
배
감
수박
딸기

In [16]:
people = [
    {'name': 'bob', 'age': 20},
    {'name': 'carry', 'age': 38},
    {'name': 'john', 'age': 7},
    {'name': 'smith', 'age': 17},
    {'name': 'ben', 'age': 27},
    {'name': 'bobby', 'age': 57},
    {'name': 'red', 'age': 32},
    {'name': 'queen', 'age': 25}
]
print(people[0])

{'name': 'bob', 'age': 20}

In [17]:
for i, person in enumerate(people) : #enumerate는 people의 인덱스와 원소값을 튜플형태로 출력
    name = person['name']
    age = person['age']
    print(i, name, age)
    if i > 3:
        break

0 bob 20
1 carry 38
2 john 7
3 smith 17
4 ben 27

In [18]:
num_list = [1, 2, 3, 6, 3, 2, 4, 5, 6, 2, 4]

for i in num_list :
    if i%2 == 0 :
        print(i)

2
6
2
4
6
2
4

In [19]:
n=0
for i in num_list :
    if i%2 == 0 :
        n = n + 1 # or n += 1
print(n)

7

In [20]:
max = 0
for i in num_list :
    if max < i :
        max = i
print(max)

6

### 6. 함수

In [21]:
def hello():
    print('안녕!')
    print('좋은 날씨야!')
    
hello()

안녕!
좋은 날씨야!

In [22]:
def sum(a,b) :
    print('더하기를 하셨네요')
    return a+b

result = sum(1,2)
print(result)

더하기를 하셨네요
3

In [23]:
def bus_rate(age) :
    if age > 65 :
        print('무료')
    elif age > 20 :
        print('1200원')
    else :
        print('750')
bus_rate(30)

1200원

In [24]:
def check_gender(pin) :
    num = pin.split('-')[1][:1]
    if int(num) % 2 == 0 :
        print('여성')
    else :
        print('남성')

check_gender('150101-1012345')

남성

### 7. 튜플

In [25]:
a = ('사과', '감', '배')
# 리스트와 같지만 불변 즉 수정이 불가능한 집합
print(a)

('사과', '감', '배')

In [26]:
people = [
    {'name' : 'bob', 'age' : 27},
    {'name' : 'john', 'age' : 30 }
]
people = (
    {'name' : 'bob', 'age' : 27},
    {'name' : 'john', 'age' : 30 }
)
# 구분

In [28]:
a = (1,2,3,3,4,5,6,6,2,7)

a_set = set(a) # 중복 제거
a_set

{1, 2, 3, 4, 5, 6, 7}

In [29]:
a = ['사과','감','수박','참외','딸기']
b = ['사과','멜론','청포도','토마토','참외']

print(a & b)  # 교집합
print(a | b)  # 합집합

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [ ]:
student_a = ['물리2','국어','수학1','음악','화학1','화학2','체육']
student_b = ['물리1','수학1','미술','화학2','체육']

set_a = set(student_a)
set_b = set(student_b)

print(set_a-set_b)

{'미술', '화학2', '수학1', '화학1', '체육', '국어', '물리1', '음악', '물리2'}

### 8. F-string

In [ ]:
# 자주 쓰는 문법
scores = [
    {'name':'영수','score':70},
    {'name':'영희','score':65},
    {'name':'기찬','score':75},
    {'name':'희수','score':23},
    {'name':'서경','score':99},
    {'name':'미주','score':100},
    {'name':'병태','score':32}    
]

In [ ]:
for s in scores :
    name = s['name']
    score = str(s['score'])
    print(name +'의 점수는 '+ score +'점 입니다.')
    print(f'{name}의 점수는 {score}점 입니다.') # f-string

영수의 점수는 70점 입니다.
영수의 점수는 70점 입니다.
영희의 점수는 65점 입니다.
영희의 점수는 65점 입니다.
기찬의 점수는 75점 입니다.
기찬의 점수는 75점 입니다.
희수의 점수는 23점 입니다.
희수의 점수는 23점 입니다.
서경의 점수는 99점 입니다.
서경의 점수는 99점 입니다.
미주의 점수는 100점 입니다.
미주의 점수는 100점 입니다.
병태의 점수는 32점 입니다.
병태의 점수는 32점 입니다.

### 9. 예외처리 try 와 except 잘 안 쓰지만 참고

In [ ]:
people = [
    {'name': 'bob', 'age': 20},
    {'name': 'carry', 'age': 38},
    {'name': 'john', 'age': 7},
    {'name': 'smith', 'age': 17},
    {'name': 'ben', 'age': 27},
    {'name': 'bobby'},
    {'name': 'red', 'age': 32},
    {'name': 'queen', 'age': 25}
]

for person in people:
    try : 
        if person['age'] > 20:
            print (person['name'])
    except :
        print(person['name'], '에러입니다')

carry
ben
bobby 에러입니다
red
queen

### 10. 파일 불러오기

In [30]:
# main_func 페이지 함수를 만들어 놓은 다음
def say_hi():
	print('안녕!')

In [31]:
# 다른 페이지에서 불러올 수 있다.
from main_func import *

say_hi()

ModuleNotFoundError: No module named 'main_func'

### 11. 한 줄의 마법

In [32]:
num = 3

if num%2 == 0:
    result = "짝수"
else:
    result = "홀수"

print(f"{num}은 {result}입니다.")

3은 홀수입니다.

In [ ]:
num = 3

result = "짝수" if num%2 == 0 else "홀수"
# 짝수라고 해라 if라면 아니면 홀수라고 해라
# (참일 때 값) if (조건) else (거짓일 때 값)으로 항이 3개라 삼항 연산자입니다 
print(f"{num}은 {result}입니다.")

3은 홀수입니다.

In [33]:
#for 문
a_list  = [1, 3, 2, 5, 1, 2]

b_list = []
for a in a_list:
    b_list.append(a*2)

print(b_list)

[2, 6, 4, 10, 2, 4]

In [34]:
a_list  = [1, 3, 2, 5, 1, 2]

b_list = [a*2 for a in a_list]

print(b_list)

[2, 6, 4, 10, 2, 4]

### 12. map, filter, lamda 식

In [35]:
people = [
    {'name': 'bob', 'age': 20},
    {'name': 'carry', 'age': 38},
    {'name': 'john', 'age': 7},
    {'name': 'smith', 'age': 17},
    {'name': 'ben', 'age': 27},
    {'name': 'bobby', 'age': 57},
    {'name': 'red', 'age': 32},
    {'name': 'queen', 'age': 25}
]

In [36]:
def check_adult(person):
    if person['age'] > 20:
        return '성인'
    else:
        return '청소년'
# return ('성인' if person['age'] > 2 else '청소년')

result = map(check_adult, people)
result = map(lambda person : ('성인' if person['age'] > 2 else '청소년'), people)

print(list(result))

['성인', '성인', '성인', '성인', '성인', '성인', '성인', '성인']

In [37]:
result = filter(lambda person : person['age'] >20, people)
# lambda x : x[] 조건, 
print(list(result))

[{'name': 'carry', 'age': 38}, {'name': 'ben', 'age': 27}, {'name': 'bobby', 'age': 57}, {'name': 'red', 'age': 32}, {'name': 'queen', 'age': 25}]

### 13 함수 심화 라이브러리 가져다 쓸 때

In [38]:
# 함수에 인수를 넣을 때, 어떤 매개변수에 어떤 값을 넣을지 정해줄 수 있다. 순서 상관 없음
def cal(a, b): # b=2 하는 경우 디폴트값 설정
    return a + 2 * b

print(cal(3, 5))
print(cal(5, 3))
print(cal(a=3, b=5))
print(cal(b=5, a=3))

13
11
13
13

In [39]:
# 입력값의 개수를 지정하지 않고 모두 받는 방법!
def call_names(*args):
    for name in args:
        print(f'{name}야 밥먹어라~')

call_names('철수','영수','희재')

철수야 밥먹어라~
영수야 밥먹어라~
희재야 밥먹어라~

In [40]:
# 키워드 인수를 여러 개 받는 방법!
def get_kwargs(**kwargs):
    print(kwargs)

get_kwargs(name='bob')
get_kwargs(name='john', age='27')

{'name': 'bob'}
{'name': 'john', 'age': '27'}

### 14. 클래스
- 언제 쓰는지 아는 것이 중요하다|

In [41]:
class Monster():
    hp = 100
    alive = True

    def damage(self, attack):
        self.hp = self.hp - attack
        if self.hp < 0:
            self.alive = False

    def status_check(self):
        if self.alive: # self.alive == True
            print('살아있다')
        else:
            print('죽었다')

m = Monster()
m.damage(120)

m2 = Monster()
m2.damage(90)

m.status_check()
m2.status_check()

죽었다
살아있다